@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Roboto&family=Roboto+Slab:wght@400;500&display=swap");

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: end;
  margin-right: 5rem;
  font-size: 1.3rem;
  gap: 10rem;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
}

.navbar-links1 {
  display: flex;
  gap: 4rem;
}
.navbar-links2 {
  display: flex;
  gap: 2rem;
}

.hero-img {
  width: 100%;
  height: auto;
}

.hero-section {
  position: relative;
  color: white;
  font-family: "Noto Sans", sans-serif;
  background-image: linear-gradient(
    to right,
    #ec6edc,
    #ff72a7,
    #ff9577,
    #ffc15c,
    #eaea6c
  );
  padding-bottom: 5rem;
}
.hero-text {
  position: absolute;
  top: 10rem;
  left: 4rem;
  width: 38rem;
  height: 16rem;
  background: rgba(234, 108, 144, 0.7);
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  font-family: "Noto Sans", sans-serif;
  padding-left: 4rem;
}

.hero-text p {
  width: 27rem;
  line-height: 0.6cm;
}

.hero-text h1 {
  font-size: 2.5rem;
}

.order-now-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  background-image: linear-gradient(
    to right,
    #ec6edc,
    #ff72a7,
    #ff9577,
    #ffc15c,
    #eaea6c
  );
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  font-family: "Noto Sans", sans-serif;
  padding-left: 4rem;
}

.card {
  height: 26rem;
  width: 20rem;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.card-img {
  height: 16rem;
  width: 17rem;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  object-fit: cover;
}

.card-text {
  width: 20rem;
  text-align: center;
}
.card-text p {
  width: 16rem;
  margin: auto;
}

.card-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.order-btn {
  margin: 5rem 0 5rem 0;
  background-color: rgb(255, 255, 255, 0.5);
  height: 3.5rem;
  width: 12rem;
  border-radius: 40px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.order-now-h1 {
  color: white;
  font-size: 2.5rem;
}

.navbar-toggle {
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-size: 2rem;
  display: none;
  pointer-events: none;
}

@media (max-width: 1250px) {
  .navbar {
    gap: 5rem;
  }
  .navbar-links1 {
    gap: 2rem;
  }
  .hero-text {
    width: 30rem;
  }
}

@media (max-width: 1000px) {
  .navbar {
    font-size: 1rem;
  }
  .hero-text {
    height: 14rem;
    width: 25rem;
    left: 2rem;
    top: 7rem;
  }
  .hero-text p {
    width: 20rem;
    line-height: 0.5cm;
  }
  .hero-text h1 {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  .hero-text {
    width: 24rem;
    padding-left: 2rem;
  }
  .navbar {
    font-size: 1.3rem;
  }
  .navbar-toggle {
    display: block;
    cursor: pointer;
    pointer-events: all;
  }

  .navbar-links1 {
    display: none;

    position: fixed;
    top: 3rem;
    width: 100%;
    z-index: 2;
    left: 0rem;
    background-color: white;
    color: white;
  }
  .active {
    display: block;
  }
}

@media (max-width: 700px) {
  .hero-text {
    width: 20rem;
    height: 12rem;
    top: 4rem;
  }
  .hero-text p {
    font-size: 14px;
  }
  .hero-text h1 {
    font-size: 1.5rem;
  }
}
